<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">


	<bean id="usersCreator"
		class="org.cieslinski.creator.UsersCreator">
	</bean>

	<bean id="anotherUser" factory-bean="usersCreator"
		factory-method="createUser">
		<constructor-arg index="0" value="Metju"></constructor-arg>
		<constructor-arg index="1" value="25"></constructor-arg>
	</bean>

	<bean id="firstUser" class="org.cieslinski.main.User"
		factory-method="getInstance">
		<constructor-arg index="0"
			value="Janusz Ostatni Sprawiedliwy Sasiad"></constructor-arg>
		<constructor-arg index="1" value="51"></constructor-arg>
	</bean>

	<bean id="locale" class="java.util.Locale"
		factory-method="getDefault">
	</bean>

	<bean id="calendar" class="java.util.GregorianCalendar"
		factory-method="getInstance">
		<constructor-arg ref="locale">
		</constructor-arg>
	</bean>

	<bean id="format" class="java.text.SimpleDateFormat"
		factory-method="getInstance">
	</bean>

	<bean id="mapy" class="org.cieslinski.main.LocalClazz">

		<property name="ustawienia">
			<props>
				<prop key="user1">pass1</prop>
				<prop key="user2">pass2</prop>
				<prop key="user3">pass3</prop>
			</props>


		</property>

		<property name="locals">
			<map>
				<entry key="Korea">
					<util:constant static-field="java.util.Locale.KOREA" />
				</entry>

			</map>


		</property>
	</bean>



<bean id="bezimiennaClazz1" class="org.cieslinski.main.BezimiennaClazz">
<property name="imie" value="Jam nie mam imienia"></property>
</bean>
<bean id="klasyczny" class="org.cieslinski.main.KeeperClazz" autowire="byName">
</bean>



</beans>
